$background-dark: #212121;
$background-light: #f1f3f9;
$home-horizontal-article-witch: 85%;
$webkit-scrollbar-bg: linear-gradient(180deg, rgb(39 199 221) 33%, rgb(76 208 226) 33.3%, rgb(39 199 221) 33.3%);
